<launch>
	<node pkg="rcjbot" name="main" type="main.py" required="true" />
	<node pkg="rcjbot" name="motor" type="motor.py" required="true" />
	<node pkg="rosserial_python" name="serial_node" type="serial_node.py" required="true" output="screen" >
	<param name="port" type="string" value="/dev/ttyUSB0" />
	</node>
</launch>
